/* You can add global styles to this file, and also import other style files */
body{
    background-color: lightcyan;
    /* text-align: center; */
    /* background-image:url("assets/kbllogo.png") ;
    background-repeat:no-repeat;
    background-size:cover ; */
}